<div class="comments">
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{body}}
            </div>
            <div class="meta">
                -{{User.username}}
            </div>
        </section>
    </div>
</div>