<div class="col-12 col-md-6 col-lg-4">
    <a href="/profile/{{id}}">
        <div class="card">
            <img src="{{profile_pic}}" class="card-img-top" alt="image of member">
            <div class="card-body">
                <h4 class="card-title-center">{{username}}</h4>
                <p class="card-text-center">{{bio}}</p>
            </div>
        </div>
    </a>
</div>