 <div class="col-4">
            <a href="/profile/{{id}}"><div class="card">
                <img src="{{profile_pic}}" class="card-img-top" alt="image of member">
                <div class="card-body">
                    <h4 class="card-title-center">{{username}}</h4>
                    <p class="card-text-center">BODY</p>
                </div>
            </div>
            </a>
        </div>