<div>
<section>
<h2> Create new Review</h2>
<form>
    <label for= "post-title">Title</label>
   <input type = "text" id "post-title" name= "post-title"/>
</div>
<div>
<label for= "post-content">Content</label>
  <textarea id= "post-content" name= "post-content" rows= "4" cols= "50"></textarea>
</div>
<button type="submit" class="btn"> Create</button>
</form>
</section>

