  <section class="container">
    <h2>Meet The Members</h2>
        <div class= "row card-group">
            <div class= "col-4">
            <div class="card">
            <img src = "./images/rena.jpeg" class ="card-img-top"
                        alt ="image of member">
                <div class ="card-body">
                    <h4 class = "card-title-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <p class = "card-text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint obcaecati 
                eveniet voluptas explicabo non ea aperiam. Quo magnam labore hic omnis 
                possimus, iure exercitationem esse commodi aspernatur explicabo dicta nulla!</p>
                </div>     
            </div>                   
   
    </section>
     </div>
    </div>  