  <div class="container my-5">
       <h2>Meet The Members</h2>
   <div class ="row h-25">
    <div class="col-3 d-flex row align-items-center">
        <div class="card-column">
            <img class="card-img-top" src="{{ profile_pic }}" alt="image of member">
            <div class = "card-body">
               <h4>{{id. userName}}</h4>
               <p>{{ bio }}</p>

            </div>
        </div>
     </div> 
     </div>   